@font-face {
  font-family: "syncSwap";
  src: url("../public/headline2.40453846d9ef1ece90ce.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #efeefe;
  font-family: "syncSwap", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
